.dropdown {
  display: flex;
  flex-direction: row;
  width: 43.205px;
  height: 23px;
  flex-shrink: 0;
  background-color: white;

  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: 1.5;
  width: 994.205px;
  height: 23px;
}
