.dropdown {
  display: flex;
  flex-direction: row;
  height: 23px;
  flex-shrink: 0;
  background-color: white;

  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: 1.5;
  height: 23px;

  white-space: nowrap;
  margin: 0 10 0 10px;
}

.dropdown-list {
  display: flex;
  margin-left: 240px;
  padding: 10px;
}

.dropdown-list img {
  padding-top: 6px;
  margin-left: 5px;
}
