.logofooter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.footer-background {
  background-image: url(../img/footer_img.png);
}

.logo-footer-inner {
  background-color: white;
  width: 200px;
  padding-top: 20px;
}
