.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.l-center {
  display: flex;
  justify-content: center;
}

.l-right {
  display: flex;
  justify-content: end;
}
